```
  cacheable: true
```
.row
  .span4
    h4 Mark Nis:
    h5 Interactive Meditation
    p
      | Penelopestraat 131
      br
      | 5631CK Eindhoven
      br
      | the Netherlands 
      br
      strong KvK
      | : 50210041

    p.social
      strong Contact Me: 
      br
      a.social(href="https://plus.google.com/109430383226686017839?rel=author")
        img(src="/img/googleplus.png")
      a.social(href="https://twitter.com/#!/markmarijnissen")
        img(src="/img/twitter.png")
      a.social(href="https://www.facebook.com/mark.marijnissen")
        img(src="/img/facebook.png")

  .span4
    :markdown
      **Mark** (Marij)**Nis**(sen) discovered meditation 10 years ago. As an enthousiastic meditator, 
      he practices daily, guides meditations, goes on retreats and has followed courses.
      He loves a practical and down-to-earth approach.

      With **Interactive Meditation**, Mark combines his meditation experience 
      with his skills as [app-developer](http://www.madebymark.nl): 

      Let's use
      smartphone and internet technology to boost our meditation experience!
    
  .span4
    img.img-polaroid(src="/img/avatar.jpg")

  .span4