---
layout: 'default'
title: 'Focus!'
---

.row
	.span6
		.flexslider
			ul.slides
				li: img(src="/img/preview-app-1.png")
				li: img(src="/img/preview-app-2.png")
				li: img(src="/img/preview-app-3.png")
	.span6.intro
		:markdown
			## The <span class="green">Focus!</span> App
			An interactive breathing meditation with **smart guidance**.

			More than just audio playback, this innovative new app takes guided meditation to the next level: **personalized instructions**!

			Whether you are dull, perceptive, beginner or expert - the smart guidance adapts to your reponses so you hear exactly what you need.

				* **Smart interactive guidance** 
				* Boosts and refreshes your meditation practice
				* Designed to ** stabilize concentration** and **improve attentiveness**.
				* Track and visualise your thoughts.
				* Suited for both **beginners** and **experts**
			

		.row-fluid.alert.alert-success
			.span6
				p Get it now for only
				p.price &euro;1.00
			.span6
				a(href="https://play.google.com/store/apps/details?id=nl.madebymark.meditation")
					img(alt="Get it on Google Play",src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png")

	.row
		.span8.offset2.letter
			:markdown
				## Need meditation instructions?

				** Dear meditator, **

				I have so many ideas to make this **interactive meditation** better...
				but I need your help prioritizing them! I would love to hear your feedback and what you like.

				If you drop your e-mail adress, I'll keep you posted and send you a free e-book **"Getting started with meditation"**. I won't spam and you can always unsubscribe. Together, we can create a better meditation experience!

				Feel free to connect with me using [facebook](https://www.facebook.com/interactivemeditation) or e-mail (<img class="email"/>). Please tell me any thoughts, ideas or questions you have about meditation or the app.

				I hope we talk soon!

				**- Mark Nis**

			= partial("subscribe.html")
